
                .button {
                  border: none;
                  color: white;
                  padding: 50px 100px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 25px;
                  margin: 4px 2px;
                  cursor: pointer;
                }
               
.button {
  background-color: #FFCCBB;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

                
             

        
                           